NEXT_PUBLIC_APP_NAME="Save71"
NEXT_PUBLIC_API_BASE_URL="https://api.save71.com"
NEXT_PUBLIC_EXTERNAL_IMAGE_BASE="https://freelancerbangladesh.com"
NEXT_PUBLIC_CONTACT_PHONE=""
NEXT_PUBLIC_BKASH_PHONE=""
NEXT_PUBLIC_NOGOD_PHONE=""
NEXT_PUBLIC_MESSENGER_URL=""
NEXT_PUBLIC_LOGIN_PAGE_TITLE="Save71"
NEXT_PUBLIC_PUSHER_APP_KEY=""
NEXT_PUBLIC_PUSHER_HOST=""
NEXT_PUBLIC_PUSHER_PORT=""
NEXT_PUBLIC_PUSHER_SCHEME="https"
NEXT_PUBLIC_PUSHER_APP_CLUSTER="mt1"
